.about {
    padding: 2rem;
    background-color: #edeeee;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.about p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}