.contact h1 {
    padding: 2rem;
    background-color: #8cc4dd;
    text-align: center,top ;
    display: flex; /* Enable Flexbox */
    justify-content: top; /* Center horizontally */
    text-decoration: solid ; /* Center vertically */
    min-height: 10vh; /* Ensure the section takes the full height of the viewport */
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    width: 100%; /* Ensure the form scales properly */
    margin: 0 auto; /* Center the form horizontally */
}

.contact input,
.contact textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #21a1f1;
}