.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #0d1524;
    color: white;
    text-align: center;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hero-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #61dafb;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}